extends base.pug

block scripts
  script(src= '../static/index.js')
block style
    style
        include ../static/style.css
    style
        include ../static/contact.css
block content
    h1   ABOUT US
    p this website is created by Arshad Ansari
    p this is about an imaginary dance club.
    p thank you for visiting here. 
    p have a wonderful day
