doctype html
html
    head
        style
            include ../static/style.css
        title this is title
    body
        section#sec1
            p welcome to dance acadmy
        h2#mission our mission
        section#sec4
            div.card
                h3 dance perfection
                div.card-box
                    div.card-img
                        img(src="../static/logo1.png", alt="404")
                    div.card-content
                        p join our dance academy
            div.card
                h3 expert teaching
                div.card-box
                    div.card-img
                        img(src="../static/logo2.png", alt="404")
                    div.card-content
                        p join our dance academy
               

            div.card
                h3 dance showes
                div.card-box
                    div.card-img
                        img(src="../static/logo4.png", alt="404")
                    div.card-content
                        p join our dance academy
        section#sec2
             h2 this is sponcer section
        footer#foot
             p thi sis footer section
        script
            include ../static/index.js